<nav class="navbar is-danger">
  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../assets/sample_logo.png">
    </a>
    <ul class="navbar-item">
      <li class="navbar-item"><a class="nav-link" routerLink="inicio"  [ngClass] = "{ 'is-active' : isActive }" (click)="toggle()">Inicio</a></li>
      <li class="navbar-item"><a class="nav-link" routerLink="estudiantes" [ngClass]="{'is-active':!isActive}" (click)="toggle()">Estudiantes</a></li>
    </ul>
  </div>
</nav>
<section class="hero is-black">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bienvenido a {{ title }}!
      </h1>
      <h2 class="subtitle">
          <i class="fab fa-angular"> Aprendamos Angular 7</i>
      </h2>
    </div>
  </div>
</section>

<hr>

<router-outlet></router-outlet>

<!-- footer -->
<footer class="footer">
  <div class="container">
  <div class="content has-text-centered">
    <p class="content is-small">
      &copy;2019-Hecho en <b>Panamá</b> por <a href="http://blog.respag.net">respag</a>
    </p>
  </div>
  </div>
  </footer>
